.pagination {
  position: absolute;
  bottom: 15px;

  background-color: rgb(215, 236, 255);
  border-radius: 15px;

  display: flex;
  justify-self: center;
  margin-top: 20px;
}
/* ----------------------------------- */
.pagination__button {
  all: unset;
  display: flex;
  border-radius: 15px;
  background-color: rgb(164, 213, 255);
  padding: 2px 6px;
}
.pagination__button:hover {
  background-color: rgb(167, 164, 255);
  cursor: pointer;
}
.pagination__button--next {
  margin-left: 10px;
}
.pagination__button--previous {
  margin-right: 10px;
}
/* ----------------------------------- */
.pagination__icon {
  border-radius: 50%;
}
.pagination__icon--previous {
  padding-right: 2px;
}
.pagination__icon--next {
  padding-left: 2px;
}
/* ----------------------------------- */
.pagination__text {
  padding-top: 3px;
}
