.pokemon-details-component__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin: 50px auto;
    height: 100vh;
}

.pokemon-details-component--dark{
    background-color: var(--background-color-dark);
}

.pokemon-details {
    width: 500px;
}

.pokemon-details__image img {
    border-radius: 15px;
    width: 100%;
    max-width: 100%;
    background-color: var(--primary-color);
    box-shadow: 0px 0px 10px 5px rgb(235, 235, 235);
    cursor: pointer;
}

.pokemon-details__image--dark img {
    background-color: var(--primary-color-dark);
    box-shadow: 0px 0px 15px 5px rgb(37, 37, 37);
}

.pokemon-details__image:hover {
    animation: pop ease 0.7s;
}

.pokemon-details__info {
    margin-top: 7px;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 10px;
    width: 100%;
    height: 154px;
}

.pokemon-details__abilities,
.pokemon-details__basic-info,
.pokemon-details__stats {
    background-color: var(--secondary-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
}

.pokemon-details__abilities:hover,
.pokemon-details__basic-info:hover,
.pokemon-details__stats:hover {
    animation: ease 0.7s pop;
}

.pokemon-details__title {
    font-weight: bold;
    margin-bottom: 5px;
}

.similar-pokemon {
    height: 665px;
    width: 215px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.pokemon-details-component__content--dark .pokemon-details__image--loading,
.pokemon-details-component__content--dark .pokemon-details__basic-info--loading,
.pokemon-details-component__content--dark .pokemon-details__stats--loading,
.pokemon-details-component__content--dark .pokemon-details__abilities--loading,
.pokemon-details-component__content--dark .pokemon-card--loading{
    background-color: var(--primary-color-dark);
}

.similar-pokemon .pokemon-card {
    border-radius: 10px;
}

.similar-pokemon .pokemon-card img {
    object-fit: contain;
    display: block;
    display: flex;
}

.pokemon-details--loading {
    width: 500px;
    height: 500px;
}

.pokemon-details__image--loading,
.pokemon-details__basic-info--loading,
.pokemon-details__stats--loading,
.pokemon-details__abilities--loading,
.pokemon-card--loading {
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

}

.pokemon-details__image--loading::after,
.pokemon-details__basic-info--loading::after,
.pokemon-details__stats--loading::after,
.pokemon-details__abilities--loading::after,
.pokemon-card--loading::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg,
            transparent 20%,
            rgba(255, 255, 255, 0.45) 50%,
            transparent 80%);

    transform: translateX(-100%);
    animation: shimmer 1.2s linear infinite;
    animation-delay: -0.6s;
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}